body {
	background-image: url("../images/earth.jpeg");
	opacity: 0.85;
}

h1 {
	color: lightblue;
}

h5 {
	color: green;
}

.header {
	text-align: center;
}

#timer {
	width: 100%;
	margin: auto;
	text-align: center;	
	color: white;
	font-size: 48px;
}

#questions {
	background-color: #ddd;
	width: 100%;
	margin: auto;
	text-align: center;
}

#buttons {
	background-color: #ddd;
	width: 100%;
	margin: auto;
	text-align: center;
}

#wins {

}