body {
	background-image: url("../images/earth.jpeg");
	opacity: 0.85;
}

h1 {
	color: lightblue;
}

.header {
	text-align: center;
}

#timer {
	width: 100%;
	margin: auto;
	text-align: center;
	color: white;
	font-size: 48px;
}

#questions {
	background-color: #ddd;
	width: 96%;
	margin: 1%;
	text-align: center;
	padding: 1%;
	font-size: 1em;
}

#result {
	background-color: #ddd;
	width: 96%;
	margin: 1%;
	text-align: center;
	padding: 1%;
	font-size: 1em;
}

#button {
	width: 98%;
	padding: 2%;
	text-align: center;

}

button {
	color: #777;
}

#wins {

}
